# OS
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Logs
*.log

# Vercel / Netlify
.vercel/
.netlify/

# Misc
*.bak
*.tmp
